<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LoongEgg.LoongChart" version="1.1.3" targetFramework="net45" />
  <package id="LoongEgg.LoongLog.FX45" version="1.0.0" targetFramework="net45" />
  <package id="LoongEgg.MvvmCore.FX45" version="1.0.0" targetFramework="net45" />
</packages>